In [1]:
import pandas as pd
import numpy as np
import world_bank_data as wb
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from IDH import IndexIDH

In [3]:
idh = IndexIDH()
df = idh.income_index()

In [5]:
df.head(50)

    Year    atlas           gni  income_index_temp  income_index
0   1960      NaN           NaN                NaN           NaN
1   1961      NaN           NaN                NaN           NaN
2   1962    820.0           NaN                NaN           NaN
3   1963    900.0           NaN                NaN           NaN
4   1964    960.0           NaN                NaN           NaN
5   1965   1060.0           NaN                NaN           NaN
6   1966   1160.0           NaN                NaN           NaN
7   1967   1240.0           NaN                NaN           NaN
8   1968   1370.0           NaN                NaN           NaN
9   1969   1560.0           NaN                NaN           NaN
10  1970   1750.0           NaN                NaN           NaN
11  1971   1910.0           NaN                NaN           NaN
12  1972   2100.0           NaN                NaN           NaN
13  1973   2380.0           NaN                NaN           NaN
14  1974   2590.0           NaN                NaN           NaN
15  1975   2660.0           NaN                NaN           NaN
16  1976   2650.0           NaN                NaN           NaN
17  1977   2740.0           NaN                NaN           NaN
18  1978   2980.0           NaN                NaN           NaN
19  1979   3390.0           NaN                NaN           NaN
20  1980   3720.0           NaN                NaN           NaN
21  1981   3890.0           NaN                NaN           NaN
22  1982   3770.0           NaN                NaN           NaN
23  1983   3670.0           NaN                NaN           NaN
24  1984   3970.0           NaN                NaN           NaN
25  1985   4280.0           NaN                NaN           NaN
26  1986   4750.0           NaN                NaN           NaN
27  1987   5350.0           NaN                NaN           NaN
28  1988   5860.0           NaN                NaN           NaN
29  1989   6050.0           NaN                NaN           NaN
30  1990   5950.0  19646.073787           0.302859      0.302859
31  1991   6300.0  20089.770480           0.313592      0.313592
32  1992   6760.0  19910.078829           0.339527      0.339527
33  1993   7100.0  20523.216039           0.345950      0.345950
34  1994   7370.0  20748.698423           0.355203      0.355203
35  1995   7820.0  22731.631491           0.344014      0.344014
36  1996   8130.0  21279.602342           0.382056      0.382056
37  1997   8510.0  22235.711786           0.382718      0.382718
38  1998   8690.0  21562.622503           0.403012      0.403012
39  1999   9590.0  23290.724602           0.411752      0.411752
40  2000  10550.0  24361.301079           0.433064      0.433064
41  2001  10950.0  23146.946966           0.473065      0.473065
42  2002  11250.0  22544.891831           0.499004      0.499004
43  2003  12170.0  22179.091312           0.548715      0.548715
44  2004  14260.0  25140.719017           0.567207      0.567207
45  2005  14750.0  24604.652781           0.599480      0.599480
46  2006  15030.0  24680.225191           0.608990      0.608990
47  2007  15860.0  25214.564710           0.629002      0.629002
48  2008  16360.0  24077.486146           0.679473      0.679473
49  2009  16580.0  22697.464584           0.730478      0.730478